@import "variables";
@font-face {
    font-family: Short;
    src: url(../fonts/Short.ttf);
}

@font-face {
    font-family: Timoteo;
    src: url(../fonts/Timoteo.ttf);
}

* {
    margin: 0;
    padding: 0;
    // background: $colorfondo;
}

// Encabezado
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    img {
        width: 60px;
    }
    h1 {
        font-size: 50px;
    }
}

// cuerpo
.contenedor-card {
    width: 400px;
    height: auto;
    background: $colortarjeta;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    h2 {
        font-family: Timoteo;
        color: $colortitulo;
    }
    p {
        font-family: Short;
        color: $colortexto;
        padding: 10px;
    }
}

.cont-img {
    width: 100%;
    height: 350px;
    background-size: 100%;
    background-position: center;
    transition: all 1s ease-in-out; // agrega transicion junto al background
    &:hover {
        background-size: 130%;
    }
}

#img-a {
    background-image: url(../images/imagen1.jpg);
}

#img-b {
    background-image: url(../images/imagen2.jpg);
}

.btn-card {
    background: $colorboton;
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid black;
    font-family: Timoteo;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    }
}

// pie de pagina - footer
.footer {
    background: $colorfondo;
    width: 400px;
    height: auto;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    h2 {
        font-family: timoteo;
        font-size: 25px;
        color: $colorboton;
    }
}

.footer__links {
    margin: 10px;
    a {
        margin: 0 30px;
        font-size: 3rem;
        &:hover {
            cursor: pointer;
            opacity: 0.3;
        }
    }
}

.footer__links--azul {
    color: blue;
}

.footer__links--blanco {
    color: white;
}

.footer__links--verde {
    color: green;
}