@font-face {
  font-family: Short;
  src: url(../fonts/Short.ttf);
}

@font-face {
  font-family: Timoteo;
  src: url(../fonts/Timoteo.ttf);
}

* {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
}

header img {
  width: 60px;
}

header h1 {
  font-size: 50px;
}

.contenedor-card {
  width: 400px;
  height: auto;
  background: #b8dae0;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.contenedor-card h2 {
  font-family: Timoteo;
  color: #0a06f5;
}

.contenedor-card p {
  font-family: Short;
  color: black;
  padding: 10px;
}

.cont-img {
  width: 100%;
  height: 350px;
  background-size: 100%;
  background-position: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.cont-img:hover {
  background-size: 130%;
}

#img-a {
  background-image: url(../images/imagen1.jpg);
}

#img-b {
  background-image: url(../images/imagen2.jpg);
}

.btn-card {
  background: #6ed3f1;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid black;
  font-family: Timoteo;
}

.btn-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.footer {
  background: #000000;
  width: 400px;
  height: auto;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.footer h2 {
  font-family: timoteo;
  font-size: 25px;
  color: #6ed3f1;
}

.footer__links {
  margin: 10px;
}

.footer__links a {
  margin: 0 30px;
  font-size: 3rem;
}

.footer__links a:hover {
  cursor: pointer;
  opacity: 0.3;
}

.footer__links--azul {
  color: blue;
}

.footer__links--blanco {
  color: white;
}

.footer__links--verde {
  color: green;
}
/*# sourceMappingURL=style.css.map */